body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .top, .footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
}

.mid, .mid-2, .bottom {
  flex:1;
}

.header {
  justify-content: space-between;
  padding: 18px 10vw;
}

.logo{
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}

a, .subtext {
  color: #E5E7EB;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.top {
  justify-content: space-between;
  padding: 128px 10vw;
  gap: 24px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
}

.hero-image {
  height: 300px;
  width: auto;
}

.subtext {
  margin-top:8px;
  margin-bottom: 16px;
}

button, .call {
  background-color: #3882F6;
}

button {
  color: #F9FAF8;
  font-weight: bold;
  border: none;
  padding: 8px 24px;
  border-radius: 6px;
}